alabaster
Babel
backports.functools-lru-cache
certifi
cffi
chardet
Click
cloudpickle
colorama
cycler
dask
decorator
docutils
Flask
fuzzywuzzy
idna
imagesize
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
numpydoc
packaging
pandas
patsy
Pillow
pycparser
Pygments
pyparsing
pyssp
python-dateutil
python-Levenshtein
python-speech-features
pytz
PyWavelets
RandomWords
requests
scikit-image
scikit-learn
scipy
six
snowballstemmer
sounddevice
SpeechRecognition
Sphinx
sphinxcontrib-websupport
statsmodels
toolz
typing
urllib3
speechkit
websocket-client
Werkzeug
faker